body {
    padding:0;margin:0 auto;
    background: linear-gradient(#e3b3f6, #eceff1);
    background-attachment: fixed; 
    position:relative;
    top: -35px;
    font-family:arial;
}
#head{
    display: block;
    background:transparent;
    width: 100%;
    height: 230px;
    position:relative;
    top:-37px;
    z-index: 1;
}
#logo{
position: relative;
    top:0px;
}

legend{
    position:relative;
    top:0px;
    color:#a9a9a9;
    font-size: 20px;
    font-family:sans-serif;
    
}
#box{
    position:relative;
    top:-175px;
    width:90%;
    max-width:650px;
    height:355px;	
    background-color:transparent(255, 255, 255, 0);
    border-radius:38px;
    padding:20px 0 0 0;
    margin:0px auto;
    z-index: 2;


}

#userdiv{
    /*background: url('Logo\ Imagen_sin\ fondo.png') no-repeat center;*/
    background-size: 208px 105px;
    width: 208px;
    height: 105px;
    border-radius:0%;
    /*margin: 5px;*/
}


/**------------Campos------------**/
.campos{
border:0px #ccc solid;
    border-bottom:1px #ccc solid; 
    color:#212121;
    background:rgba(255,255,255,1);
    
height:40px;font-size:16px;
display:block;width:230px;
text-align:center;
border-radius:0px;
font-family:inherit;outline: none;
}

/**--------------------PASSWORD----------**/
#pass{
    border:0px #ccc solid;
    border-bottom:1px #ccc solid;
    color:#212121;
    background:#FFF;
   height:40px;font-size:16px;
    display:block;margin:5px;width:230px;text-align:center;
    border-radius:0px;
    font-family:inherit;outline: none;
}
/*---------------Boton---------*/
.boton{
	-webkit-appearance:none;color:#fff;
	background:#0e9f3a; 
        /*background-image:url(door.png); */
	background-repeat: no-repeat; 
        background-position:center; 
        opacity: 1;
    border:none;
    border-radius:5px;
    height:42px;width:234px;font-size:16px;font-weight:400;outline:0;text-transform:none;
    cursor:pointer;
    margin-top:8px;
}

.vertical-form .footer{
    position: relative;
    top:-175px;
    text-align:center;
    color:#666666;
}

.vertical-form .pre-footer{
    position: relative;
    top:-200px;
    text-align:center;
    color:#666666;
    padding-top: 22px;
}

.vertical-form .footer a{text-decoration:none;color:#4285F4;}
    @media (max-width:450px){

       }
#freebot{
  
    -webkit-appearance:none;color:#fff;
    background:#0e9f3a; 
    background-image:url(unlock-clock.png);
    background-repeat: no-repeat; 
    background-position:center; 
    opacity: 1;
    border:none;
    border-radius:5px;
    height:32px;width:115px;
    cursor:pointer;
    display:inline-block;

}
/*
#boton_qr{
    color:#fff;
    background:#0e489f; 
    background-repeat: no-repeat; 
    background-position: bottom 50% center;
    background-image:url(qr-code2.png);
    opacity: 1;
    border:none;
    border-radius:5px;
    height:42px;width:160px;
    cursor:pointer;
    display:inline-block;
} */

#passDiv{
    display: block
}
#customText{
    max-width: 650px;
    width:90%;
    margin: 0px auto;
}